version: "3.8"
name: "backend-dev"

services:

  db:
    extends:
      file: ../common-services.yml
      service: db
    volumes:
      - ./db:/var/lib/postgresql/data
    env_file:
      - config.env

  app:
    build:
      context: ../../
      dockerfile: ./docker/dev/Dockerfile.dev
    command: >
      sh -c "python manage.py wait_for_db
      && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ../../app:/app
      - ./logs:/logs
      - ./media:/media
    ports:
      - "8000:8000"
    env_file:
      - config.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      db:
        condition: service_healthy
    tty: true  # Provide color in the console

  test:
    profiles:
      - test
    build:
      context: ../../
      dockerfile: ./docker/dev/Dockerfile.test
    volumes:
      - ../../app:/app
      - ../../typing:/typing
      - ./coverage:/coverage
    env_file:
      - config.env
    depends_on:
      db:
        condition: service_healthy
    tty: true  # Provide color in the console
