# Editor files
.vscode/

# Python source and cache
.venv
__pycache__

# Config files
.env

# App "temp" files
docker/**/db
docker/**/logs
docker/**/media
docker/**/static
docker/**/coverage

# Generated schema
schema.yml
