[project]
name = "Django-Rest-Framework-Boilerplate"
version = "0.0.1"
requires-python = "== 3.13.2"
readme = "README.md"


[tool.isort]
profile = "black"
known_django = [
    "django",
    "rest_framework",
]
known_addons = [
    "rest_framework_simplejwt",
    "drf_spectacular",
    "drf_standardized_errors",
]
known_first_party = [
    "extensions",
    "core",
    "users",
    # ADD OTHERS HERE
]
sections = [
    "FUTURE",
    "STDLIB",
    "THIRDPARTY",
    "DJANGO",
    "ADDONS",
    "FIRSTPARTY",
    "LOCALFOLDER",
]
line_length = 119
lines_after_imports = 2
lines_between_sections = 0
extend_skip_glob = [
    "app/**/migrations/[0-9][0-9][0-9][0-9]_*.py",
    "app/manage.py",
]


[tool.autoflake]
recursive = true
in-place = true
remove-all-unused-imports = true
remove-unused-variables = true
exclude=[
    "app/**/migrations/[0-9][0-9][0-9][0-9]_*.py",
    "app/manage.py",
]
ignore-init-module-imports = true


[tool.black]
line-length = 119
extend-exclude = '''
(
    \/*\/migrations\/[0-9][0-9][0-9][0-9]_.*.py  # Autogenerated migrations
    | ^/app/manage.py  # Autogenerated django manage.py file
)
'''


[tool.mypy]
mypy_path = "$MYPY_CONFIG_FILE_DIR/app, $MYPY_CONFIG_FILE_DIR/typing"
files = "./app"
# Exclude django files
exclude = [
    "app/.*/migrations/[0-9]{4}_.*.py$",
    "app/manage.py",
]
plugins = [
    "mypy_django_plugin.main",
    "mypy_drf_plugin.main",
]
show_error_codes = true
# Be more strict
disallow_untyped_defs = true
disallow_any_unimported = true
no_implicit_optional = true
check_untyped_defs = true
# Warn everyhing
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_return_any = true
warn_unreachable = true


[tool.django-stubs]
django_settings_module = "app.settings"


[tool.coverage.run]
source = ["./app"]

[tool.coverage.report]
exclude_lines = [
    "# pragma: no cover",
    "def __repr__",
    "if TYPE_CHECKING",
    "@overload",
    "NotImplementedError",
]
omit = [
    "./app/manage.py",
    "./app/app/asgi.py",
    "./app/app/wsgi.py",
]

[tool.coverage.html]
directory = "./coverage"
