Django == 4.2.7
djangorestframework == 3.14.0
djangorestframework-simplejwt == 5.3.0
drf-standardized-errors == 0.12.6
drf-spectacular == 0.26.5
django-cors-headers == 4.3
psycopg2-binary == 2.9.9
requests == 2.31.0
