-r boilerplate.requirements.txt

# CLI
click == 8.1.8

# Linting
ruff == 0.11.7
mypy == 1.15.0

# Type hint stubs
django-stubs == 5.2.0
djangorestframework-stubs == 3.16.0

# Testing
coverage == 7.8.0
