-r boilerplate.requirements.txt

# Linting
isort == 5.11.4
autoflake == 2.0.0
black == 22.12.0
mypy == 0.991

# Testing
coverage == 7.1.0

# Extra
pyclean == 2.6.0

# Type hint stubs
django-stubs == 1.13.1
djangorestframework-stubs == 1.8.0
