Django == 5.2.5
psycopg2 == 2.9.10
django-cors-headers == 4.7.0
djangorestframework == 3.16.1
djangorestframework-simplejwt == 5.5.1
drf-standardized-errors[openapi] == 0.15.0
drf-spectacular[sidecar] == 0.28.0
django-constance == 4.3.2
