-r boilerplate.requirements.txt

# CLI
click == 8.2.1

# Linting
ruff == 0.11.13
mypy == 1.16.0

# Type hint stubs
django-stubs == 5.2.0
djangorestframework-stubs == 3.16.0

# Testing
pytest == 8.4.0
pytest-subtests == 0.14.2
pytest-cov == 6.2.1
pytest-xdist == 3.7.0
pytest-django == 4.11.1
